[user]
	name = Luke Barbuto
	email = luke.barbuto@gmail.com
[color]
	ui = true
[credential]
	helper = cache --timeout=3600
[core]
	excludesfile = /home/luke/.gitexclude
[push]
	default = simple
[alias]
        st = status
        co = commit
        br = branch
        ch = checkout
        cp = cherry-pick
        re = rebase
        me = merge
        l  = log --pretty=format:'%Cgreen%h %Creset%s%n'
        lsd = log --graph --decorate --pretty=oneline --abbrev-commit --all
